{% extends 'index/base.html' %}
{% load static %}

{% block content %}
<style>
body {
	background: rgba(44, 62, 80, .8);
}
footer{
    color: #fff;
}
.completed h5{
    text-decoration:line-through;
}
</style>
<div class="container text-center">
    <div class="input-group mb-3">
        <input id="list_input" type="text" class="form-control" placeholder="key in" aria-label="key in" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button id="list_add" class="btn btn-dark" type="button">Add</button>
            <a href="{% url 'del_completed' %}" role="button" class="btn btn-danger">Del Completed</a>
        </div>
    </div>
    
    
    <div>
        <ul class="list-group">
            {% now "Ymd" as today %}
            {% for List in Lists %}
            <li class="list-group-item d-flex {% if List.completed == True %}completed{% endif %}">
                <h5 class="col-10 col-md-11">{{ List.title }}
                    {% if List.created_at|date:'Ymd' == today  %}
                        {% if List.completed == False  %}
                        <span class="badge badge-pill badge-info ml-2">New</span>
                        {% endif %}
                    {% endif %}
                </h5>
                <a href="{% url 'list_finsh' List.id %}" role="button"  class="btn btn-success btn-sm justify-content-end {% if List.completed == True %}disabled" aria-disabled="true"{% else %}"{% endif %}>Finsh</a>
            </li>
            {% endfor %}
          </ul>
    </div>
</div>

<script>
$(document).ready(function () {
    //監聽add事件
    $('#list_input').on('keydown',function (e) {        
        if (e.which == 13) {
            test = $('#list_input').val()
            post_add(test)
        }        
    })
    $('#list_add').on('click',function () {
        test = $('#list_input').val()
        post_add(test)
    })

    //django 在ajax上設置token 
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection        
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var csrftoken = Cookies.get('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    })

    //add ajax func
    function post_add(text) {
        if(text.match(/^[a-zA-Z0-9\u4e00-\u9fa5\s]+$/)){
            $.ajax({
                type: 'POST',
                url: '/list_add',
                dataType:'json',
                data: {
                    text:text,
                },
                success: function (res) {
                    if (res.state) {
                        window.location = '/week1'
                    }
                }
            });
        }else{
            alert('請勿輸入特殊字元!')
        }
    }

    //finsh ajax func
    function post_finsh(id) {
        if(text.match(/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/)){
            $.ajax({
                type: 'POST',
                url: '/list_finsh',
                dataType:'json',
                data: {
                    id:id,
                },
            });
        }else{
            alert('請勿輸入特殊字元!')
        }
    }
})

</script>

{% endblock %}