{% extends 'index/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% for Article in Articles %}
        {% if forloop.counter0|divisibleby:3 %}
        <div class="card-deck mb-3 text-center">
        {% endif %}
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{% static 'images/png.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="my-0 font-weight-normal">{{ Article.title }}</h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ Article.tag1 }}</li>
                        <li>{{ Article.tag2 }}</li>
                        <li>{{ Article.tag3 }}</li>
                        <li>{{ Article.tag4 }}</li>
                        <!-- <h6 class="text-right pt-3"><span class="badge badge-pill badge-dark">{{ Article.created_at|date:"Y.m.d" }}</span></h6> -->
                    </ul>
                    <a class="btn btn btn-md btn-block btn-outline-dark" href="{{ Article.uri }}" role="button">check it out</a>
                </div>
            </div>
            
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}