{% extends 'index/base.html' %}
{% load static %}

{% block content %}
<center>
    <h2>Streamed video:</h2>
    <video autoplay></video>
    <h2>Streamed canvas:</h2>
    <canvas width="640" height="480" ></canvas>
    <h2>Streamed image:</h2>
    <img src="" width="640" height="480">
</center>

<script>
var video = document.querySelector('video');
var canvas = document.querySelector('canvas');
var img = document.querySelector('img');
var ctx = canvas.getContext('2d');
var constraints = {
    video :true,
    audio:false
}

var roomName = {{ room_name_json }};
var url = 'ws://' + window.location.host + '/' + roomName + '/';
var ws = new WebSocket(url);
var FPS = 60;

ws.onopen = function (e) {
    console.log("connected");
}	

ws.onclose = function (e) {
    console.log("close");
}						  

navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
    video.srcObject = stream;
    video.play()
}).catch(function (err) {
    
})

setInterval(function () {
    drawCanvas()
    readCanvas()
},1000 / FPS)

function drawCanvas() {
    ctx.drawImage(video,0,0,canvas.width,canvas.height);
}

function readCanvas() {
    var canvasData = canvas.toDataURL('image/jpeg',1);

    ws.send(JSON.stringify({
            'imgData': canvasData
        }))

    ws.addEventListener('message',function (e) {
        var imgData = JSON.parse(e.data).imgData;
        var decodeAstring = atob(imgData.split(',')[1]);

        var charArray = [];
        for (let i = 0; i < decodeAstring.length; i++) {
            charArray.push(decodeAstring.charCodeAt(i))
        }

        img.src = window.URL.createObjectURL( new Blob([new Uint8Array(charArray)],{
            tpye:'image/jpeg'
        }));
    })
}
</script>

{% endblock %}