{% extends 'index/base.html' %}
{% load static %}

{% block content %}

<center>
    <h2>Streamed Video</h2>
    <video autoplay width="320" height="240"></video>
    <canvas width="320" height="240" style="display:none;"></canvas>
    <h2>Face Recognition</h2>
    <img width="320" height="240">
</center>

<script>
var video = document.querySelector('video');
var canvas = document.querySelector('canvas');
var img = document.querySelector('img');
var ctx = canvas.getContext('2d');
var constraints = {
    video :true,
    audio:false
}
var reader = new FileReader();
var roomName = {{ room_name_json }};
var url = 'ws://' + window.location.host + '/' + roomName + '/';
var ws = new WebSocket(url);
ws.binaryType = 'arraybuffer';
var timer = 0;
var FPS = 10;

ws.onopen = function (e) {
    console.log("connected");
}	

ws.onclose = function (e) {
    console.log("close");
}						  

navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
    video.srcObject = stream;
    video.play()
}).catch(function (err) {
    
})

setInterval(function () {
    drawCanvas()
    readCanvas()
},1000 / FPS)

function drawCanvas() {
    ctx.drawImage(video,0,0,canvas.width,canvas.height);
}

function readCanvas() {
    canvas.toBlob(function (canvasData) {        
        ws.send(canvasData)        
    });

    ws.onmessage = function(e) {
        var blob = e.data;        
        img.onload = function(){
            window.URL.revokeObjectURL(img.src);
        };
        var str = String.fromCharCode.apply(null, new Uint8Array(blob));
        img.src = 'data:image/jpg;base64,' + btoa(str);
    };
}

</script>

{% endblock %}